PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/sessionProject
ACCESS_TOKEN_SECRET=your_jwt_access_secret_key_here
REFRESH_TOKEN_SECRET=your_jwt_refresh_secret_key_here
REDIS_URI=redis://localhost:6379
